/* .div-busca {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 30%;
    height:42px;
    border: 2px solid #4D4D4D;
    padding: 0px 10px;
    border-radius: 8px;
    background-color: white;
  }

  .elemento-busca {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .txt-busca {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 8px;
    font-size: 18px;
    color: #4D4D4D;
    font-weight: 500;
  }

  .txt-busca:focus {
    outline:none;
  }

  .btn-busca {
    height: 90%;
    width: 100%;
    border-radius: 7px;
    border: 2px solid #4D4D4D;
    font-size: 25;
    color: #4D4D4D;
    background-color: #CCCCCC;
    transition: transform 0.3s ;
  }
  .btn-busca:active {
    transform: scale(0.95);  
  }
 */

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.div-pesq{
	width: 90%;
	margin: 38px auto;
}

.div-pesq {
	position: relative;
	width: 478px;
	height: 60px;
}

.div-pesq .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 18px;
}

.btn-pesq{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #7690da;
	z-index: 1;
	cursor: pointer;
}

.btn-pesq:hover{
	background: #708bd2;	
}

.btn-pesq:active {
  transform: scale(0.98); 
}

.div-pesq  .btn-pesq .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}

.caixa-pesq .btn-pesq{
	width: 125px;
	height: 45px;
	top: 8px;
	right: 5px;
	border-radius: 4px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .div-pesq .caixa-pesq .input{
	padding-right: 145px;
} */


@media screen and (min-width: 0px) {
  .div-pesq {
    position: relative;
    width: 380px;
  }
  .cabecalho_logo {
      display: none;
  }
}

@media screen and (min-width: 768px) {
  .div-pesq {
    position: relative;
    width: 478px;
  }
  .cabecalho_logo {
      display: flex;
  }
}