
.cabecalho {
    background-color: #eeeeee;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px #3e2c1438;
    border: solid 2px #4D4D4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
    border-top: solid 2px #FFF;
    padding: 0 5rem;
}

.cabecalho_logo {
    width: 5.2rem;
}

.cabecalho_lista-navegacao {
    display: flex;
    color: #4D4D4D;
    font-size: 1.4rem;
}

.cabecalho_link {
    margin-left: 2rem;
    transition: transform 0.3s;
    
}
.cabecalho_link:active {
    transform: scale(0.98);  
}

@media screen and (min-width: 0px) {
    .cabecalho {
        padding: 0 1rem;
        justify-content: center;
    }
    .cabecalho_logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }
    .cabecalho_logo {
        display: flex;
    }
}