
.cadastro {
    margin-top: 7rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 43rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border: solid 2px #4D4D4D;
    border-radius: 6px;
    box-shadow: 0 1.5px 3px 1.5px #808080; 
    background-color: #EEEEEE;
}

.cadastro-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.cartao_titulo {
    font-size: 26px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #4D4D4D;

}

.cadastro-cartao {
    display: flex;
    justify-content: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-form {
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.input {
    box-sizing: border-box;
    border: 1px solid #d6eaff;
    border-radius: 8px;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
    color: #4D4D4D;
    box-shadow: 0 1px 2.5px 1px #808080; 
    
}

.input:hover {
    border-color: #4285F4;
    box-shadow: 0 1px 2.5px 1px #4285F4;
}

.input-label {
    display: none;
}

.input-container {
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.botao-container {
    display: flex;
    justify-content: end;
}

.botao {
    display: block;
    background-color: #7690da;
    box-shadow: 0 1px 2.5px 1px #808080; 
    border-radius: 10px;
    width: 43%;
    max-width: 20rem;
    padding: 1.2rem;
    box-sizing: border-box;
    font-size: 17px;
    align-self: center;
    text-align: center;
    transition: transform 0.5s ;
    font-weight: bold;
    color: #CCCCCC;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    
}
.botao:hover {
    background-color: #637cba;
    cursor: pointer; 
}
.botao:active {
    transform: scale(0.98); 
}

@media screen and (min-width: 0px) {
    .cadastro {
    margin-top: 2.5rem;
    width: 100%;
    }
    .cartao_titulo {
        text-align: center;
    }
    .botao-container {
        justify-content: center;
    }
    .div-form {
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (min-width: 768px) {
    .cadastro {
        margin-top: 7rem;
        width: 70%;
    }
    .cartao_titulo {
        text-align: left;
    }
    .botao-container {
        justify-content: end;
    }
    .div-form {
        padding-left: 10%;
        padding-right: 10%;
    }
}

