#lista {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.bloco {
    max-width: inherit;
    width: auto;
    border: 2px solid #4D4D4D;
    box-shadow: 0 1px 2.5px 1px #808080; 
    margin: 5px;
    padding: 20px 20px;
    border-radius: 8px;
    color: #4D4D4D;
    background-color: #EEEEEE;
}

.l1 {
    font-weight: bold;
    align-items: center;
}

.l3 {
    text-align: right;
    margin-right: 15px;
    margin-top: 5px;
}

.messageNotFound {
    text-align: center;
    color: #652020;
}
